Json/RestEasyJson/WebContent/wsdl/EmployeeServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.hcl.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.hcl.com" xmlns:intf="http://service.hcl.com" xmlns:tns1="http://model.hcl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.hcl.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.hcl.com"/>
   <element name="getAllEmployees">
    <complexType/>
   </element>
   <element name="getAllEmployeesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllEmployeesReturn" type="tns1:Employee"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.hcl.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Employee">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="salary" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllEmployeesResponse">

      <wsdl:part element="impl:getAllEmployeesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllEmployeesRequest">

      <wsdl:part element="impl:getAllEmployees" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeServiceImpl">

      <wsdl:operation name="getAllEmployees">

         <wsdl:input message="impl:getAllEmployeesRequest" name="getAllEmployeesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllEmployeesResponse" name="getAllEmployeesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeServiceImplSoapBinding" type="impl:EmployeeServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllEmployees">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllEmployeesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllEmployeesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeServiceImplService">

      <wsdl:port binding="impl:EmployeeServiceImplSoapBinding" name="EmployeeServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/RestEasyJson/services/EmployeeServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
